/* App container styles */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  text-align: center;
  margin-bottom: 20px;
  margin-left: 90px;
}
/* Content container styles */
.content-container {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Adjust this value to match the header height */
}
/* Main content styles */
.main-content {
  flex: 1;
  margin-left: 5; /* Start without margin to make space for the sidebar */
  padding: 20px;
  transition: margin-left 0.3s;
}
.app-layout {
  display: flex;
  margin-top: 10px;
  margin-left: 0;
}
/* header {
  text-align: center;
  margin-bottom: 20px;
} */
