/* login.css */

.main-container {
  background-image: url("https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?w=900&t=st=1729160481~exp=1729161081~hmac=aea69e068570a73f6e96d6d40f35b8f3674a8be3ab0d736f4f52908bf770afd9");
  background-size: cover;
  width: 100vw;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 47vh;
  background-color: #f5f5f5;
  padding: 0 20px; /* Add padding for better spacing on mobile */
  box-sizing: border-box;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #47bb23;
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Add max-width to prevent overflow */
  box-sizing: border-box;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: rgba(5, 0, 0, 0.928);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}
.register-button {
  width: 100%;
  padding: 10px;
  background-color: #26ff00;
  color: rgba(41, 153, 45, 0.928);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-style: italic;
}
/* button:hover {
  background-color: #0056b3;
} */

/* Media queries for mobile devices */
@media (max-width: 600px) {
  .login-header h1 {
    font-size: 24px; /* Adjust font size for mobile */
  }

  .login-form {
    padding: 15px;
  }

  .login-form h2 {
    font-size: 20px; /* Adjust font size for mobile */
  }

  .form-group label,
  .form-group input {
    font-size: 16px; /* Adjust font size for mobile */
  }

  button {
    padding: 8px; /* Adjust button padding for mobile */
  }
  .register-button {
    padding: 8px;
  }
  .error-message {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
  }
}
